@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: 'Plus Jakarta Sans', sans-serif;
  }

  ::selection {
    background-color: #d4af37;
    color: #120a05;
  }
}

.font-royal {
  font-family: 'Cinzel', serif;
}

.font-serif-luxury {
  font-family: 'Playfair Display', serif;
}

.font-bengali {
  font-family: 'Anek Bangla', 'Tiro Bangla', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
